{% extends "layout/base.html" %}
{% load static %}


{% block title %}Create Schema{% endblock %}

{% block body_content %}
<form method="post" action="{% url 'save_schema' %}">
    {% csrf_token %}
    <h2>Name</h2>
    {{ form.name.label_tag }} {{ form.name }}

    <h2>Field Description</h2>
    <p>This provides context about the fields and helps us with mapping your data.</p>
    {% for field in form %}
        {% if field.name in form.description_fields %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
    <h2>Data Quality Schema</h2>
    <p>This schema will be used to validate the quality of your customer's data.</p>
    {{ form.pandera_schema }}
    <h2>Categorical data</h2>
    <p>The list of options here are enforced. Instead of a list of values, you can provide a description of the category. For example, "colors": "The colors of the rainbow".</p>
    {{ form.categories }}
    <button type="submit">Save</button>
</form>


{% endblock %}
